/* .monaco-editor .margin,
.monaco-editor .margin-view-overlays {
  display: none;
} */

.monaco-editor-background {
    background-color: #0d0d0d !important;
}

.monaco-scrollable-element > .scrollbar > .slider {
    width: 0.5rem !important;
    background-color: #dd9ee5d1;
    border-radius: 0.5rem;
}

.h-editor-layout::-webkit-scrollbar {
    width: 0.5rem !important;
    background-color: #0d0d0d;
    border-radius: 0.5rem;
    /*border: 1px solid #dd9ee5c9;*/
}

.h-editor-layout::-webkit-scrollbar-thumb {
    /*width: 0.5rem !important;*/
    background-color: #dd9ee5d1;
    border-radius: 0.5rem;
    /*border: 1px solid #dd9ee5d0;*/
}
